html,
body {
  background-color: #3e1d2b;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 2rem;
}

.main {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
}

a {
  color: blanchedalmond;
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid blanchedalmond;
  border-radius: 40px;
}

.boton {
  margin-block: 2rem;
}

a:hover {
  /*transform: scale(1.1); */
  box-shadow: 0px 5px 10px blanchedalmond;
}
